
body{
  margin: 0;
}

.flexbox{
  display: flex;
  flex-direction: row;
  position: fixed;
  flex: 40% 1;
  height: 100px;
  width: 100%;
  background-color: white;
  z-index: 1;
}

.left-section{
  display: flex;
  flex-direction: row;
  //background-color: blue;
  width: 60%;
  align-items: center;
  }

  .left-section-txt{
    display: flex;
    flex-direction: row;
    font-size: 22px;
    font-weight: bold;
    margin-left: 10px;
  }

  .left-section a{
    text-decoration: none;
    color: black;
    font-size: 22px;
    font-weight: bold;
    margin-left: 10px;
  }

  .item-1{
    margin-right: 25px;
  }

  .item-2{
    margin-right: 25px;
  }

  .item-3{
    margin-right: 25px;
  }

  .item-4{
    margin-right: 25px;
  }

  .item-5{
    margin-right: 25px;
  }

  .item-6{
    margin-right: 25px;
  }

  .item-7{
    margin-right: 25px;
  }

.right-section{
  display: flex;
  flex-direction: row;
 flex: 1;
//background-color: brown;
 margin-right: 0px;
 align-items: center;
 }

 /*.right-section-txt{
  display: flex;
  flex-direction: row;
  position: absolute;
  font-size: 22px;
  font-weight: bold;
  right: 150px; 
  }*/

  .right-section a{
    font-size: 22px;
  font-weight: bold;
  text-decoration: none;
  color: black;
  right: 150px;
}

.right-section button{
  position: absolute;
  background-color: black;
  color: white;
  font-weight: bold;
  right: 80px;
  height: 35px;
  width: 10%;
  border-radius: 5px;
  cursor: pointer;
}

.right-section-txt a{
  text-decoration: none;
  color: black;
}

.items-1{
  margin-right: 25px;
}

.items-2{
  margin-right: 25px;
}

.items-3{
  margin-right: 25px;
}

.items-4{
  margin-right: 25px;
  background-color: black;
  color: white
}

.sub{
  display: flex;
  flex-direction: row;
  position: absolute;
  top: 80px;
  left: 0px;
  right: 0px;
  height: 60px;
  background-color: rgb(233, 224, 224);
  font-size: 22px;
  font-weight: bold;
  align-items: center;
  //justify-content: space-between;
  
}

.sub a{
  text-decoration: none;
  color: black;
}

.guides{
  margin-right: 25px;
}

.started{
  margin-right: 25px;
}

.basics{
  margin-left: 10px;
}

.us{
  position: absolute;
  left: 1350px;
}

.sidebar{
  display: flex;
  flex-direction: column;
  position: fixed;
  top: 140px;
  /*background-color: black;*/
  background-color: white;
  /*color: rgb(73, 71, 71);*/
  width: 20%;
  height: 600px;
  overflow: scroll;
  align-items: start;
}

.line1{
  margin-top: 55px;
}


.sidebar a{
  color: rgb(70, 68, 68);
  text-decoration: none; 
  margin-left: 10px;
}

#filter{
  position: fixed;
  background-color: white;
  color: black;
  width: 6%;
  height: 35px;
  border-radius: 25px;
  margin-left: 35px;
  top: 145px;
}

.css-txt{
  position: absolute;
  left: 23%;
  top: 150px;
  
}

.sidebar-2{
  display: flex;
  flex-direction: column;
  position: relative;
  float: right;
  /*background-color: black;*/
  color: black;
  width: 17%;
  height: 200px;
  /*overflow: scroll;*/
  align-items: center;
  top: 200px;
  border-color: white;
  border-left: 2px;
  border-style: solid;
  border-left-color: black;
  align-items: normal;
}

.sidebar-2 a{
  margin-left: 15px;
  color: black;
  text-decoration: none;
}

.sidebar2-h2{
position: absolute;
float: right;
right: 125px;
top: 150px;
/*background-color: black;*/
color: black;

}

.hero button{
  position: absolute;
  //background-color: red;
  right: 1120px;
  top: 280px;
  color: blue;
  text-decoration: underline;
  height: 30px;
  font-size: 16px;
}

.hero1 button{
  position: absolute;
  //background-color: red;
  right: 650px;
  top: 280px;
  width: 20%;
  color: blue;
  text-decoration: underline;
  height: 30px;
  font-size: 16px;
}

.heros button{
  position: absolute;
  //background-color: red;
  right: 350px;
  top: 280px;
  height: 30px;
  font-size: 16px;
  color: blue;
  text-decoration: underline;
}

/*.flexbox_2{
  display: flex;
  flex-direction: row;
  flex: 100px 200px 200px;
  position: absolute;
  left: 500%;
}

.blok1{
  background-color: red;
}

.blok2{
  background-color: blue;
}
.blok3{
  background-color: red;
}*/

.body-txt{
  position: absolute;
  width: 50%;
  left: 350px;
  top: 350px;
  font-size: 18px;
  line-height: 35px;
}

.what-css{
  font-size: 36px;
  font-weight: bold;

}



